
.shisha {
  max-width: 200px;

  &Img {
    width: 80%;
    height: 65%;
    border: 1px solid #e0e0e0;
    padding: 5px;
    border-radius: 34%;
  }

  &Text {
    font-weight: bold;
    &hover {
      text-decoration: underline;
    }
  }
}
